@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap");

* {
	font-family: "Underdog", system-ui;
	font-weight: 400;
	font-style: normal;
}
.nav-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80px;
}
.title {
	font-size: xx-large;
	padding: 15px;
	margin-top: 0px;

	font-family: "Lacquer", system-ui;
	font-weight: 400;
	font-style: normal;
}
.nav-links-container {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-left: auto;
	margin-right: 15px;
    font-size: large;
}
.nav-links-container a {
	outline: none;
	text-decoration: none;
	cursor: pointer;
	width: auto;
	border: none;
	background: none;
	color: black;
	padding: 10px;
	margin-top: 0px;
}
.bar {
	margin-top: 25px;
	font-family: "Underdog", system-ui;
	font-weight: 400;
	font-style: normal;
}
.dash-page {
    background-color: white;
	box-shadow: 0 3px 5px inset rgba(0, 0, 0, 0.5); 
}
.left-card-container {
    width: 350px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    background-color: #E75E3E;
	box-shadow: 0 3px 5px inset rgba(0, 0, 0, 0.5); 
}
.redirect-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;
}
.redirect-container button {
    margin-left: 15px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    border: none; 
    background: none; 
    font-size: x-large;
    color: white;
    font-family: "Lacquer", system-ui;
	font-weight: 400;
	font-style: normal;
}
.right-card-container {
    position: absolute;
    right: 0;
    top: 80px;
    width: calc(100vw - 400px);
    height: calc(100vh - 80px);
}
.middle-username-title {
    margin-left: 10px;
    margin-top: 50px;
    font-size: x-large;
    padding: 10px;
}
.middle-spooky-title {
    margin-left: 10px;
    margin-top: 20px;
    font-size: x-large;
    padding: 10px;
}
.middle-username-box {
	margin-left: 20px;
	width: 400px;
	height: 40px;
	border: 1px solid #333;
	border-radius: 4px;
	margin-bottom: 20px;
	padding-left: 10px;
}
.middle-username-box:focus {
	border-style: none;
    outline: 2px solid #E75E3E;
}
.middle-select-box {
	margin-left: 20px;
	width: 405px;
	height: 40px;
	border: 1px solid #333;
	border-radius: 4px;
	margin-bottom: 20px;
	padding-left: 10px;
}
.middle-select-box:focus {
	border-style: none;
    outline: 2px solid #E75E3E;
}
.middle-change-btn {
	background-color: white;
	border-color: #E75E3E;
	border-style: solid;
	padding: 10px;
	width: 120px;
	font-size: small;
	display: flex;
	align-content: center;
	justify-content: center;
	border-radius: 10px;
	color: #E75E3E;
	font-weight: 500;
	position: absolute;
	top: 65px;
	right: 330px;
	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.middle-change-btn img {
	margin-right: 10px;
	margin-bottom: 2px;
}
.middle-remove-btn {
	background-color: white;
	border-color: #E75E3E;
	border-style: solid;
	padding: 10px;
	width: 120px;
	font-size: small;
	display: flex;
	align-content: center;
	justify-content: center;
	border-radius: 10px;
	color: #E75E3E;
	font-weight: 500;
	position: absolute;
	top: 125px;
	right: 330px;
	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.middle-remove-btn img {
	margin-right: 10px;
	margin-bottom: 2px;
}
.middle-change-btn:hover {
	background-color: #E75E3E;
    transform: scale(1.05);
	color: white;
}
.middle-remove-btn:hover {
	background-color: #E75E3E;
    transform: scale(1.05);
	color: white;
}
.main-profile-pic{
	background-color: #dddd;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	top: 50px;
    right: 0;
	margin-right: 500px;
	position: absolute;
}
.avatar {
	position: absolute;
	top: -15px;
	left: -12px;
}
.middle-des-title {
    margin-left: 10px;
    margin-top: 20px;
    font-size: x-large;
    padding: 10px;
}
.middle-des-box {
	width: 410px;
	height: 223px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 10px;
	text-align: start;
	overflow: auto;
	box-sizing: border-box;
	white-space: pre-wrap;
	padding-top: 10px;

    margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
}
.middle-des-box:focus {
	border-style: none;
    outline: 2px solid #E75E3E;
}