/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap");

/* temporary fix */
html {
  background-color: white;
}
body {
  margin: 0;
}

.landing-container {
  /* border-color: red;
  border-style: double; */
  background-color: #E75E3E;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 7rem;
  flex-direction: space-between;
  box-shadow: 0 3px 5px inset rgba(0, 0, 0, 0.5); 
  position: relative;
  height: 85vh;
}

/* this needs to be moved up the page by about 15px */
.landing-title {
  color: white;
  font-family: "Lacquer", serif;
  font-weight: 800;
  font-size: 60px;
  margin: 0; /* Remove margins */
  margin-top: -100px;
}

.landing-img {
  width: auto; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
}

.landing-button {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: "Lacquer", serif;
  font-weight: 800;
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  width: 289px;
  height: auto;
  margin-top: 50px;
}

.landing-button:hover {
  background-color: #FDDE5F;
  color: black;
  /* box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.approach-container {
  /* background-color: white; */
  /* background: linear-gradient(
    to right,
    #FDDE5F 0%,
    #FDDE5F 33%,
    black 33.5%,
    black 100%
  ); */
  background-color: black;
  display: flex;
  justify-content: column; /* Space between children */
  align-items: center;
  gap: 7rem;
  padding: 5rem;
  position: relative;
  height: 85vh;
}

.approach-title {
  color: white;
  font-size: 64px;
  margin-right: auto;
  padding-bottom: 100px;
  text-align: left;
  font-family: 'Underdog', serif;
  font-style: bold;
  font-weight: 400;
  /* line-height: normal; */
}

.approach-text {
  color: white;
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin: 0;
  text-align: left;
  /* padding-left: 220px; */
  padding-bottom: 100px;
}

.approach-img {
  width: 275px;
  height: 286px;
  position: absolute;
  right: 50px;
  bottom: 20px;
}

/* Feedback */
.feedback-container {
    background-color: #5C0B86;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    position: relative;
    /* height: 85vh; */
    
}

.feedback-title {
    color: white;
    font-size: 64px;
    /* margin-right: auto; */
    /* padding-bottom: 100px; */
    text-align: left;
    font-family: 'Underdog', serif;
    font-style: bold;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 0;

}

.feedback-img {
  width: 275px;
  height: 350px;
  position: absolute;
  left: 50px;
  bottom: 30px;
    
}

.scroll-up {
  position: fixed;
  right: 1.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}