/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap");

/* temporary fix */
html {
  background-color: white;
}
body {
  margin: 0;
}

.card {
    background: #FDDE5F;
    color: black;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    width: 300px;
    text-align: center;
}

.prev, .next {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
}
