@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap");

* {
	font-family: "Underdog", system-ui;
	font-weight: 400;
	font-style: normal;
}
.swiper-page {
	width: 100vw;
	height: calc(100vh - 130px);
	background-color: white;
	box-shadow: 0 3px 5px inset rgba(0, 0, 0, 0.5);
	margin-top: -45px;
}
.card {
	position: relative;
	width: 600px;
	padding: 20px;
	height: 50vh;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card h3 {
	position: absolute;
	bottom: 10px;
	color: white;
}

.tinderCards__cardContainer {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

/* stacks cards on top of each other */
.swipe {
	position: absolute;
	margin-left: 400px;
	margin-top: 50px;
}
.swiper-left-card {
	width: 380px;
	margin-left: -5px;
	height: calc(100vh - 75px);
	display: flex;
	flex-direction: column;
	background-color: #e75e3e;
	margin-top: 0px;
    box-shadow: 0 3px 5px inset rgba(0, 0, 0, 0.5); 
}
.myprofile {
	font-size: x-large;
	/* padding: 20px; */
	color: white;
	text-decoration: none;
	outline: none;
	font-family: 'underdog', system-ui;
	margin-right: 20px;
}
.myprofile .link {
	color: white;
	text-decoration: none;
	outline: none;
	font-family: "Underdog", system-ui;
	font-weight: 400;
	font-style: normal;
}

.messages {
	font-family: 'underdog', system-ui;
	font-size: x-large;
	text-decoration: none;
	outline: none;
	font-weight: 400;
	font-style: normal;
	margin-right: 20px;
}

.upper-left-card{
	background-color: #C85439;
	width:380px;
	height: 118px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row; 
    align-items: center; 
	padding: 10px;
}
.myprofile, .messages {
    flex-basis: auto; 
}

.match-title {
	color: black;
	font-size: larger;
	padding: 20px;
}
.match-card-container {
	width: 100%;
	height: calc(100vh - 250px);
    margin-top: -100px;
	overflow: auto;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.match-card-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-left: 35px;
}
.match-card {
    width: 100px;
    height: 150px;
    background-color: black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex-shrink: 0; 
    border-radius: 10px;
    position: relative;
}
.match-card img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.match-name {
    position: absolute;
    bottom: 0;
    font-size: larger;
    padding: 10px;
    color: white;
}
.btn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}